@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Katalog filmów</h1>
    Projekt pracy inżynierskiej. Parzych Przemysław

</div>
<h3>Nawyżej oceniane filmy</h3>
@Html.Action("MoviesMostPopularing")
<hr/>
<h3>Najczęściej komentowane filmy</h3>
@Html.Action("MoviesMostCommented")