@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Katalog filmów</h1>

</div>
<h3>Nawyżej oceniane filmy</h3>
@Html.Action("MoviesMostPopularing")
<h3>Najczęściej komentowane filmy</h3>
@Html.Action("MoviesMostCommented")